body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 

.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
  
}
.card-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 2px 2px 2px 2px gray;
  padding: 20px 30px;
  width: 400px;
  border-radius: 16px;
} */

.form-container{
  display: flex;
  flex-direction: column;
  background-color: antiquewhite;
  margin-top: 150px;
  border-radius: 16px;
  padding: 40px;

}
.form-container label input{
  width: 300px;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
}
.container2{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 350px;
}
.btn{
display: flex;
margin-top: 20px;
border: none;
text-align: center;
padding: 10px 20px;
justify-content: center;
align-items: center;
background-color: rgb(63, 63, 233);
border-radius: 6px;
color: white;
}